
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div data-brackets-id="23" class="col-md-3 left_col">
            <div data-brackets-id="24" class="left_col scroll-view">
                <div data-brackets-id="25" class="navbar nav_title" style="border: 0;">
                    <a data-brackets-id="26" href="index.html" class="site_title"><i data-brackets-id="27" class="fa fa-paw"></i> <span data-brackets-id="28">Artesania Nohemi</span></a>
                </div>

                <div data-brackets-id="29" class="clearfix"></div>



                <br data-brackets-id="36">


                <!-- sidebar menu -->
                <div data-brackets-id="37" id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div data-brackets-id="38" class="menu_section active">
                        <h3 data-brackets-id="39">General</h3>
                        <ul data-brackets-id="40" class="nav side-menu" style="">
                            <li data-brackets-id="41">
                                <a data-brackets-id="42" href="Prinncipal.html"><i data-brackets-id="43" class="fa fa-home"></i> Inicio <span data-brackets-id="44" class=""></span></a>
                                <ul data-brackets-id="45" class="nav child_menu"></ul>
                            </li>
                            <li data-brackets-id="46" class="current-page">
                                <a data-brackets-id="47" href="Usuario.html"><i data-brackets-id="48" class="fa fa-edit"></i> Usuario <span data-brackets-id="49" class=""></span></a>
                                <ul data-brackets-id="50" class="nav child_menu"></ul>
                            </li>
                            <li data-brackets-id="51">
                                <a data-brackets-id="52" href="Clientes.html"><i data-brackets-id="53" class="fa fa-desktop"></i> Clientes <span data-brackets-id="54" class=""></span></a>
                                <ul data-brackets-id="55" class="nav child_menu"></ul>
                            </li>
                            <li data-brackets-id="56">
                                <a data-brackets-id="57"><i data-brackets-id="58" class="fa fa-table"></i> Catalogo <span data-brackets-id="59" class="fa fa-chevron-down"></span></a>
                                <ul data-brackets-id="60" class="nav child_menu">
                                    <li data-brackets-id="61"><a data-brackets-id="62" href="tables.html">Producto</a></li>
                                    <li data-brackets-id="63"><a data-brackets-id="64" href="tables_dynamic.html">Categoria</a></li>
                                </ul>
                            </li>
                            <li data-brackets-id="65">
                                <a data-brackets-id="66"><i data-brackets-id="67" class="fa fa-bar-chart-o"></i> Inventario <span data-brackets-id="68" class="fa fa-chevron-down"></span></a>
                                <ul data-brackets-id="69" class="nav child_menu">
                                    <li data-brackets-id="70"><a data-brackets-id="71" href="chartjs.html"></a></li>
                                    <li data-brackets-id="72"><a data-brackets-id="73" href="chartjs2.html"></a></li>
                                    <li data-brackets-id="74"><a data-brackets-id="75" href="morisjs.html"></a></li>
                                    <li data-brackets-id="76"><a data-brackets-id="77" href="echarts.html"></a></li>
                                    <li data-brackets-id="78"><a data-brackets-id="79" href="other_charts.html"> </a></li>
                                </ul>
                            </li>
                            <li data-brackets-id="80">
                                <a data-brackets-id="81"><i data-brackets-id="82" class="fa fa-clone"></i> Administracion <span data-brackets-id="83" class="fa fa-chevron-down"></span></a>
                                <ul data-brackets-id="84" class="nav child_menu">
                                    <li data-brackets-id="85"><a data-brackets-id="86" href="fixed_sidebar.html">Cuenta por cobrar</a></li>
                                    <li data-brackets-id="87"><a data-brackets-id="88" href="fixed_footer.html">Ventas</a></li>
                                    <li data-brackets-id="89"><a data-brackets-id="90" href="fixed_footer.html">Pedido</a></li>
                                    <li data-brackets-id="91"><a data-brackets-id="92" href="fixed_footer.html">Proveedor</a></li>
                                    <li data-brackets-id="93"><a data-brackets-id="94" href="fixed_footer.html">Cuentas por pagar</a></li>
                                </ul>
                            </li>
                            <li data-brackets-id="95">
                                <a data-brackets-id="96"><i data-brackets-id="97" class="fa fa-clone"></i> Produccion <span data-brackets-id="98" class="fa fa-chevron-down"></span></a>
                                <ul data-brackets-id="99" class="nav child_menu">
                                    <li data-brackets-id="100"><a data-brackets-id="101" href="fixed_sidebar.html">Orden de Produccion</a></li>
                                    <li data-brackets-id="102"><a data-brackets-id="103" href="fixed_footer.html">Calculo de costo de produccion</a></li>
                                    <li data-brackets-id="104"><a data-brackets-id="105" href="fixed_footer.html">Reporte</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /sidebar menu -->
                <!-- /menu footer buttons -->
                <!-- /menu footer buttons -->
            </div>
        </div>


        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">


                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group" style="position:relative; right:-150px;">
                                <input type="text" class="form-control" placeholder="Ejemplo:Eddy...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Buscar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="row">
                        <!-- form input mask -->
                        <div class="bd-example" data-example-id="">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="" style="position:relative; top:-15px; right:-600px;"><i class="fa fa-plus">Agregar Nuevo</i></button>


                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content col-lg-10" style="position:relative; top:-43px; left:-703px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel"> Agregar </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="form-control-label">Nombre:</label>
                                                    <input type="password" class="form-control" id="" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="form-control-label">Apellido:</label>
                                                    <input type="password" class="form-control" id="" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="form-control-label">Edad:</label>
                                                    <input type="password" class="form-control" id="" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="form-control-label">Ciduad:</label>
                                                    <input type="password" class="form-control" id="" placeholder="" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="form-control-label">Telefono:</label>
                                                    <input type="password" class="form-control" id="" placeholder="" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Lista de Usuarios</h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>NOMBRE</th>
                                        <th>Apellido</th>
                                        <th>Pais</th>
                                        <th>Ciduad</th>
                                        <th>CP</th>
                                    </tr>
                                </thead>
                                <tbody class="contenido busqueda"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- /form input mask -->
                <!-- form color picker -->

            </div>
        </div>
    </div>
 
    
    <!-- /form color picker -->
    <!-- /page content -->
    <!-- footer content -->
    <!-- /footer content -->
